.container {
  color: white;

  .btn-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    button {
      padding: 10px;
      font-size: 1.2rem;
      width: 80px;
      background-color: #3f3f3f;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
    }

    @keyframes positive {
      from {
        transform: translateX(150px);
      }
      to {
        transform: translateX(0px);
      }
    }
    
    @keyframes negative {
      from {
        transform: translateX(0px);
      }
      to {
        transform: translateX(150px);
      }
    }

    .animation2 {
      animation: positive 1s linear forwards;
    }

    .animation {
      animation: negative 1s linear forwards;
    }
    
    .aniamtion3 {
      transform: translateX(100px);
    }

  }

}